<% @title= "5C Hackathon" %>
<section>
  <div class="banner">
    <img class="banner__img" src="img/background-thin.png" alt="5C Hackathon">
    <span class="banner__main">5C Hackathon</span>
    <span class="banner__date">NOV 13, 2014 &nbsp; &nbsp; Claremont, CA</span>
  </div>
  <div class="intro">
    <div class="layout--page">
      <h1>A Hackathon Like No Other</h1>
      <p class="intro__desc">Join other 5C students for a hackathon that is beginner friendly and welcoming of all types of people. The 5C Hackathon is a great experience regardless of your programming ability.  </p>
      <a href="#" class="intro__reg reg"><span class="nowrap">Register Now!</span></a>
    </div>
  </div>
</section>

<section class="schedule" id="schedule">
  <table class="layout--page">
    <caption>Fall 2014 Schedule</caption>
    <tr>
      <td class="session__time">7:00 PM</td>
      <td>Kickoff</td>
    </tr>
    <tr>
      <td class="session__time">8:00 PM</td>
      <td>Hacking begins</td>
    </tr>
    <tr>
      <td class="session__time">11:00 PM</td>
      <td>Food truck rolls in</td>
    </tr>
    <tr>
      <td class="session__time">3:00 AM</td>
      <td>2-minute run</td>
    </tr>
    <tr>
      <td class="session__time">4:00 AM</td>
      <td>Krispy Kreme</td>
    </tr>
    <tr>
      <td class="session__time">6:00 AM</td>
      <td>Crunch time</td>
    </tr>
    <tr>
      <td class="session__time">8:00 AM</td>
      <td>Presentation and prizes</td>
    </tr>
    <tr>
      <td class="session__time">10:00 AM</td>
      <td>Bed time</td>
    </tr>
  </table>
</section>

<section class="companies" id="companies">
<div class="layout--page">
  <h1>The Fall 2014 Sponsors</h1>
  <p>Interesting in sponsoring the Fall 2014 Hackathon? Click <a href="/sponsor">here</a> for more information.</p>
  <h3>Gold</h3>
  <div class="logos sponsors">
    <img height="80" src="img/intuit.png" alt="Intuit">
  </div>
  <h3>Silver</h3>
  <div class="logos sponsors">
    <img src="img/google.png" height="60" alt="Google">
    
  </div>
  <h3>Bronze</h3>
  <div class="logos sponsors">
    <img src="img/svp.png" height="60" alt="Silicon Valley Program">
    <img src="img/microsoft.png" height="60" alt="Microsoft">
  </div>
</section>
<section class="team" id="team">
  <div class="layout--page">
    <h1 style="color: #fff">The Planning Committee</h1>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/andy.png)">
        </div>
        <div class="speaker__social">
          <a class="speaker__social-button" href="mailto:andrew.russell@pomona.edu"><i class="fa fa-envelope"></i><span class="visuallyhidden">Email</span></a>
        </div>
      </div>
      <div class="speaker__name" style="color: #fff">
        Andy Russell
      </div>
      <div class="speaker__title" style="color: #fff">
        Senior
      </div>
      <div class="speaker__company" style="color: #fff">
        Pomona College
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/ryan.png)">
        </div>
        <div class="speaker__social">
          <a class="speaker__social-button" href="mailto:ryan.luo@pomona.edu"><i class="fa fa-envelope"></i><span class="visuallyhidden">Email</span></a>
        </div>
      </div>
      <div class="speaker__name" style="color:#fff">
        Ryan Luo
      </div>
      <div class="speaker__title" style="color: #fff">
        Junior
      </div>
      <div class="speaker__company" style="color: #fff">
        Pomona College
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/aloke.png)">
        </div>
        <div class="speaker__social">
          <a class="speaker__social-button" href="mailto:aloke.desai@pomona.edu"><i class="fa fa-envelope"></i><span class="visuallyhidden">Email</span></a>
        </div>
      </div>
      <div class="speaker__name" style="color:#fff">
        Aloke Desai
      </div>
      <div class="speaker__title" style="color: #fff">
        Junior
      </div>
      <div class="speaker__company" style="color: #fff">
        Pomona College
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/maureen.png)">
        </div>
        <div class="speaker__social">
          <a class="speaker__social-button" href="mailto:mnaval@students.pitzer.edu"><i class="fa fa-envelope"></i><span class="visuallyhidden">Email</span></a>
        </div>
      </div>
      <div class="speaker__name" style="color:#fff">
        Maureen Naval
      </div>
      <div class="speaker__title" style="color: #fff">
        Sophomore
      </div>
      <div class="speaker__company" style="color: #fff">
        Pitzer College
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/lucas.png)">
        </div>
        <div class="speaker__social">
          <a class="speaker__social-button" href="mailto:lucas.dossantos@pomona.edu"><i class="fa fa-envelope"></i><span class="visuallyhidden">Email</span></a>
        </div>
      </div>
      <div class="speaker__name" style="color:#fff">
        Lucas Dos Santos
      </div>
      <div class="speaker__title" style="color: #fff">
        Sophomore
      </div>
      <div class="speaker__company" style="color: #fff">
        Pomona College
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/mauricio.png)">
        </div>
        <div class="speaker__social">
          <a class="speaker__social-button" href="mailto:mauricio.molina@pomona.edu"><i class="fa fa-envelope"></i><span class="visuallyhidden">Email</span></a>
        </div>
      </div>
      <div class="speaker__name" style="color:#fff">
        Mauricio Molina
      </div>
      <div class="speaker__title" style="color: #fff">
        Senior
      </div>
      <div class="speaker__company" style="color: #fff">
        Pomona College
      </div>
    </div>
  </div>
</section>

<section class="coc" id="coc">
  <div class="layout--page">
    <h1>Code of Conduct</h1>
    <div style="margin-bottom: 20px;">
      We value the participation of each individual and want to provide a positive experience for everyone. Accordingly, all attendees are expected to show respect and courtesy to other attendees. To make clear what is expected, all attendees, speakers, and volunteers are required to follow our Code of Conduct, which will be strictly enforced as deemed necessary.
    </div>
    <div class="row">
      <div>
        <div class="session">
          <h4 class="session__title">Be Respectful</h4>
          <div class="session__desc">
            <p>Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and racist, sexist, or exclusionary jokes or project content are not appropriate for this event and will not be tolerated.</p>
            <p> Harassment includes but is not limited to offensive verbal comments related to gender, sexual orientation, disability, physical appearance, race, or religion; sexual images in public spaces; deliberate intimidation; unwelcome photography or recording; inappropriate physical contact; and unwelcome sexual attention. </p>
          </div>
          <b class="marker"></b>
        </div>
        <div class="session">
          <h4 class="session__title">Be Open</h4>
          <div class="session__desc">
            <p>We welcome attendees from all backgrounds and skill levels - from “never been to hackathon before” to seasoned developers. This event is about increasing innovation, partnership, and engagement in the technical community on campus.</p>
          </div>
          <b class="marker"></b>
        </div>
        <div class="session">
          <h4 class="session__title">Be Awesome</h4>
          <div class="session__desc">
            <p>Do your best. Learn something new. Don't take it too seriously.</p>
            <p>Attendees violating these rules will be asked to leave the hackathon immediately at the discretion of the organizers. Thank you for helping make this a welcoming, safe space for all.</p>
          </div>
          <b class="marker"></b>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hack-week" id="hack-week">
  <div class="layout--page">
    <h1>Hack Week</h1>
    <h2 style="color: #00467f">Hack Week is a weeklong tutorial that teaches you how to build a webapp with <span class="venue__highlight">little to no programming experience</span>.</h2>
    <div style="text-align: center; margin-bottom: 20px;" >
      <h3>When</h3>
      <p>Hack Week is every evening from 7-9 pm starting the Monday before the hackathon and culminating in the 5C Hackathon on Friday.</p>
      <h3>What</h3>
      <p>Hack Week has both a beginner and advanced section that teaches you how to build a dynamic web application. Last fall we covered basic HTML/CSS, front-end interactions with JavaScript and jQuery, web servers with NodeJS, sleek and easy design with Bootstrap, and databases with MongoDB.</p>
      <h3>Code</h3>
      <p>Check out the apps from this year and previous years at our <a href="http://github.com/5chackathon">Github</a> page. During Hack Week, the starter code for each day will also be uploaded here.</p>
    </div>
  </div>
</section>