<% @title= "5C Hackathon" %>
<section>
  <div class="banner">
    <img class="banner__img" src="img/background-thin.png" alt="5C Hackathon">
    <span class="banner__main">5C Hackathon</span>
  </div>
  <div class="intro">
    <div class="layout--page">
      <h1 class="tag">A Hackathon Like No Other.</h1>
      <p class="intro__desc">
        Whether you're making your first website or hacking on a Raspberry Pi, the 5C Hackathon is the perfect place to have fun and learn something new. We provide awesome swag, food, and mentorship throughout the entire 24-hour event.
      </p>
      <p class="intro__desc">Still interested? Let's do this.</p>
      <a style="cursor: pointer;" class="reg intro__reg"><span class="nowrap mainbutton">REGISTER NOW!</span></a>
    </div>
  </div>
</section>

<section class="schedule" id="schedule">
  <table class="layout--page">
    <div class="caption">Spring 2020 Schedule</div>
    <h4 style="text-align: center; margin-top: -.5em; margin-bottom: 1em;">April 3&ndash;4, 2020</h4>
    <tr>
      <td class="session__time">6:30 PM</td>
      <td>Check-in at Edmunds Ballroom (Pomona)</td>
    </tr>
    <tr>
      <td class="session__time">7:00 PM</td>
      <td>Kickoff</td>
    </tr>
    <tr>
      <td class="session__time">7:30 PM</td>
      <td>Hacking begins</td>
    </tr>
    <tr>
      <td class="session__time">10:00 PM</td>
      <td>Chipotle</td>
    </tr>
    <tr>
      <td class="session__time">1:30 AM</td>
      <td>Turn in projects (6-hour category)</td>
    </tr>
    <tr>
      <td class="session__time">7:30 AM</td>
      <td>Turn in projects (12-hour category)</td>
    </tr>
    <tr>
      <td class="session__time">8:00 AM</td>
      <td>Expo presentation</td>
    </tr>
    <tr>
      <td class="session__time">9:30 AM</td>
      <td>Awards ceremony</td>
    </tr>
    <tr>
      <td class="session__time">10:00 AM</td>
      <td>Thanks for coming!</td>
    </tr>
  </table>
</section>

<section class="companies" id="companies">
<div class="layout--page">
  <h1 style="margin-bottom: 0.25em;">Fall 2018 Sponsors</h1>
  <!-- <h3 style="margin-top: -1em;">([semester] sponsors will be announced shortly!)</h3> -->

  <h3>Platinum</h3>
  <div class="logos sponsors">
    <a href="https://www.proofpoint.com/"><img src="img/sponsors/proofpoint.png" height="90" alt="Proofpoint"></a>
  </div>

  <h3>Gold</h3>
  <div class="logos sponsors">
    <a href="http://www.google.com/"><img src="img/sponsors/google.png" height="60" alt="Google"></a>
    <a href="http://www.intuit.com/"><img src="img/sponsors/intuit.png" height="60" alt="Intuit"></a>
  </div>

  <p>
    <h5 style="color: #000;">
      Interested in sponsoring the Fall 2019 Hackathon? Click <a href="/sponsor">here</a> for more information.
    </h5>
  </p>
</section>

<section class="team" id="team">
  <div class="layout--page">
    <h1 style="color: #fff;">The Planning Committee</h1>
      <!-- <div class="speaker__company" style="color: #fff;"></div> -->
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/alice.png);"></div>
      </div>
      <div class="speaker__name" style="color:#fff">Alice Tan</div>
      <div class="speaker__title" style="color: #fff;">Senior</div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/cleo.jpg);"></div>
      </div>
      <div class="speaker__name" style="color:#fff;">Cleo Forman</div>
      <div class="speaker__title" style="color: #fff;">Junior</div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/harini.jpg);"></div>
      </div>
      <div class="speaker__name" style="color:#fff;">Harini Salgado</div>
      <div class="speaker__title" style="color: #fff;">Senior</div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/mckenna.png);"></div>
      </div>
      <div class="speaker__name" style="color:#fff;">McKenna Barlow</div>
      <div class="speaker__title" style="color: #fff;">Junior</div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/moe.jpg);"></div>
      </div>
      <div class="speaker__name" style="color:#fff;">Moe Sunami</div>
      <div class="speaker__title" style="color: #fff;">Sophomore</div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/wentao.png);"></div>
      </div>
      <div class="speaker__name" style="color:#fff;">Wentao Guo</div>
      <div class="speaker__title" style="color: #fff;">Senior</div>
    </div>
    <div class="speaker">
      <div class="speaker__wrap">
        <div class="speaker__img" style="background-image: url(img/team/william.png);"></div>
      </div>
      <div class="speaker__name" style="color:#fff;">William Baird-Smith</div>
      <div class="speaker__title" style="color: #fff;">Junior</div>
    </div>
  </div>
</section>

<section class="coc" id="coc">
  <div class="layout--page">
    <h1>Code of Conduct</h1>
    <div style="margin-bottom: 25px;">
      We value the participation of each individual and want to provide a positive experience for everyone. Accordingly, all attendees are expected to show respect and courtesy to other attendees. To make clear what is expected, all attendees, speakers, and volunteers are required to follow our Code of Conduct, which will be strictly enforced as deemed necessary.
    </div>
    <div class="row">
      <div>
        <div class="session">
          <h4 class="session__title">Be Respectful</h4>
          <div class="session__desc">
            <p>Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and racist, sexist, or exclusionary jokes or project content are not appropriate for this event and will not be tolerated.</p>
            <p> Harassment includes but is not limited to: offensive verbal comments related to gender, sexual orientation, disability, physical appearance, race, or religion; sexual images in public spaces; deliberate intimidation; unwelcome photography or recording; inappropriate physical contact; and unwelcome sexual attention. </p>
          </div>
          <b class="marker"></b>
        </div>
        <div class="session">
          <h4 class="session__title">Be Open</h4>
          <div class="session__desc">
            <p>We welcome attendees from all backgrounds and skill levels &ndash; from &ldquo;never been to a hackathon before&rdquo; to seasoned developers. This event is about increasing innovation, partnership, and engagement in the technical community on campus.</p>
          </div>
          <b class="marker"></b>
        </div>
        <div class="session">
          <h4 class="session__title">Be Awesome</h4>
          <div class="session__desc">
            <p>Do your best. Learn something new. Don't take it too seriously.</p>
            <p>Attendees violating these rules will be asked to leave the hackathon immediately at the discretion of the organizers. Thank you for helping make this a welcoming, safe space for all.</p>
          </div>
          <b class="marker"></b>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hack-week" id="hack-week">
  <div class="layout--page">
    <h1>Hack Week</h1>
    <h2 style="color: #00467f; margin: -.5em 0 .25em;">Hack Week is a weeklong series of workshops teaching useful technical skills for both beginning and advanced coders and covering socially relevant issues within the world of tech and computer science.</h2>
    <div class="desc">
      <h3>When</h3>
      <p>Hack Week events are at various times in the afternoons and evenings starting the Saturday before the Hackathon and culminating in the 5C Hackathon on Friday.</p>
      <h3>What</h3>
      <p><b>Want to learn coding skills?</b> <a href="https://www.facebook.com/events/1334252960044921/">Hack Week workshops</a> will help you learn how to build and host a website, create an Android application from the ground up, and use GitHub with your next project.</p>
      <h3>Code</h3>
      <p>Check out the apps from this year and previous years at our <a href="http://github.com/5CHackathon">GitHub</a> page. During Hack Week, starter code for technical workshops may also be uploaded here.</p>
    </div>
  </div>
</section>
