<% @title= "5C Hackathon | Sponsor" %>
<section>
  <div class="sponsor-info" style="background-color: #f6fbfc; padding-bottom: 20px;">
    <div class="layout--page">

      <h1>Become a Sponsor</h1>

      <p class="sponsor__info">The <span class="bold-blue">5C Hackathon</span> is a semiannual hackathon held on Pomona College's campus. Last semester, over 300 of the Claremont Colleges' brightest techincal minds spent 12 hours working on projects ranging from <i>SmartBag</i>, a backpack that knows exactly what’s in it, to <i>Snakes on a (hyper)plane</i>, a real-time multiplayer 3D snake game.</p>
      <p class="sponsor__info">An entirely student-run event, the 5C Hackathon has rapidly become a highly anticipated and attended tradition at the Claremont Colleges, drawing talent from five different schools: Pomona, Harvey Mudd, Claremont McKenna, Scripps, and Pitzer.</p>


      <h2 class="no-margin-top dark-blue">What makes the 5C Hackathon different?</h2>

      <p class="sponsor__info">
        We pride ourselves on building a technical community at the Claremont Colleges that is creative and diverse. With that in mind, we focus on making the 5C Hackathon <span class="bold-blue">beginner-friendly and inclusive</span>. Last semester, <span class="bold-blue">40% of our attendees were first-time hackers and 45% were female</span>.
      </p>

      <p class="sponsor__info">
        Teaching and mentorship is of the utmost importance to us. Each semester we have week-long classes that teach beginners the basics of how to code so that they can participate in the hackathon. In the past, we've taught beginners how to make mobile apps using Android, web apps using Node.js, and digital art using p5.js. We also have mentors throughout the night of the Hackathon who are always available to help teams with their ideas.
      </p>


      <h2 class="no-margin-top dark-blue">Why sponsor?</h2>

      <p class="sponsor__info">
        Sponsoring is a great way to connect with the top computer science students at the Claremont Colleges. By sponsoring, you can get <span class="bold-blue">access to resumes and portfolios</span> of over 300 students, <span class="bold-blue">showcase your API or product</span>, and see students make awesome projects with them. As a sponsor, you'll also have the opportunity to mentor students and get them excited about programming!
      </p>

      <p class="sponsor__info">
        Please see the sponsorship tier list below detailing the different ways in which you can be a part of the 5C Hackathon. Can't fnd a tier that works for you? Shoot us an email at <a href="mailto:5chackathon@gmail.com">5chackathon@gmail.com</a> and we'll work out the details.</p>
    </div>
  </div>
  </section>

  <section class="sponsorship" id="sponsorship" style="margin-top: -2.25em; margin-bottom: .5em;">
    <div class="layout--page">
      <h2 class="dark-blue" style="margin-bottom: 1em;">Sponsorship Tiers</h2>
        <div class="col-sm-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h3>Bronze</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$1000</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Swag distribution</li>
              <li class="list-group-item">Send engineers &amp; recruiters</li>
              <li class="list-group-item">Mention of API/developer tools upon request</li>
              <li class="list-group-item">Logo on website, T-shirts, poster</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h3>Silver</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$2000</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Speak at opening ceremony</li>
              <li class="list-group-item">Swag distribution</li>
              <li class="list-group-item">Send engineers &amp; recruiters</li>
              <li class="list-group-item">Mention of API/developer tools upon request</li>
              <li class="list-group-item">Logo on website, T-shirts, poster</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-primary text-center">
            <div class="panel-heading">
              <h3>Gold</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$3000</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Access to participant resume database</li>
              <li class="list-group-item">Speak at opening ceremony</li>
              <li class="list-group-item">Swag distribution</li>
              <li class="list-group-item">Send engineers &amp; recruiters</li>
              <li class="list-group-item">Mention of API/developer tools upon request</li>
              <li class="list-group-item">Logo on website, T-shirts, poster</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h3>Platinum</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$5000</h3>
              <div>Limit: 1</div>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>Everything in Gold</strong></li>
              <li class="list-group-item">5C Hackathon presented by [you]</li>
              <li class="list-group-item">Special placement of logo on official event T-shirts</li>
            </ul>
          </div>
        </div>
    </div>
  </section>